html, body {
    margin: 0;
    padding: 0; 
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    color: #fff;
}

h1 {
    font-weight: 200 !important;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
    color: #fff !important;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(124,103,132,.9);
    z-index: 1000;  
}
.wrapper {
    margin: 8px 100px;
}

.logo {
    position: relative;
    height: 40px;
    margin: 0 60px;
}

nav {
    float: right;
}

ul {
    list-style: none;
}

nav li {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding: 6px 20px;
}

a {
    color: #fff !important;
    text-decoration: none;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none !important;
    color: black !important;
}

.jumbotron {
    height: 1300px;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url("images/cover.jpg");
    background-size: cover;
    background-position: center;
}

.supporting {
    height: 420px;
    color: #616161 !important;
    text-align: center;
}

.supporting .container {
    width: 90%;
}

.supporting p {
    padding: 20px;
}

.supporting img {
    height: 100px;
    margin: 40px 30px 10px 30px;
}

.main {
    height: 800px;
    width: 100%;   
    background-image: linear-gradient(rgba(124,103,132,.8), rgba(124,103,132,.8)),url("images/main.jpg");
    background-position: center;
    background-size: cover;
    padding: 40px 0;
    text-align: center;
}

.main .container {
    margin: 0;
    width: 100%
}

.main h1 {
    color: #fff;
    letter-spacing: 3px;
    padding-bottom: 40px;
    text-align: center;
}

.main img {
    height: 350px;
    cursor: pointer;
}

.words {
    position: absolute;
    margin: 0 -350px;
    opacity: .01;
    cursor: pointer;
}

.main p {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 30px;
    color: #fff !important;
}

.main h2 {
    position: relative;
    color: #fff !important;
    margin: 500px 0 0 0;
}

.btn {
    padding: 10px 50px !important;
    background-color: black;
    font-size: 16px !important;
    margin: 30px 20px;
    border-radius: 0px !important;
}

#clear-btn {
    background: none;
    border: 2px solid black;
    color: black !important;
}

.btn:hover {
    background-color: slategray;
    color: #fff !important;
}

#clear-btn:hover {
    background-color: slategray;
    border: 2px solid slategray;
    color: #fff !important;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #333;
}

.footer p {
    position: absolute;
    margin: 40px;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 15px;
}


@media screen and (max-width: 480px) {
    .logo {
        height: 35px;
        margin: auto;
    }
    .burger-nav {
        margin: 8px -90px;
        display: block;
        height: 24px;
        background: url(images/burger.svg) no-repeat 98% top;
        cursor: pointer;
    }
    header nav {
        position: relative;
        width:50%;
        float: right;
        top: -40px;
    }
    header nav ul {
        position: relative;
        margin: 10px 0;
        overflow: hidden;
        height: 0;
    }
    header nav ul.open{
        height: auto;
    }
    header nav ul li {
        background: linear-gradient(rgba(124,103,132,.9), rgba(124,103,132,.9));
        border-bottom: 1px solid #cecece;
        text-align: right;
        font-size: 15px;
        display: block;
        padding: 10px;
        font-weight: 200;
    }
    .container {
    top: 50px;
    height: 260px;
    width: 100%;
    }
    .jumbotron {
        position: absolute;
        height: 300px;
        z-index: -1;
        width: 100%;
        top: 50px;
        background-image:
           linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)),url(images/cover.jpg);
        background-size: cover;
        background-position: center;
    }
    .supporting {
        height: 300px;
        position: relative;
        top: 350px;
        z-index: -1;
    }
    .supporting img {
        margin: 50px 0 10px 0;
        height: 80px;
    }
    .supporting h1 {
        font-size: 30px;
    }
    .main {
        height: 1800px;
        position: relative;
        top: 1200px;
    }
    .main h1 {
        padding: 0;
        font-size: 30px;
    }
    .main .container {
        position: relative;
        top: -700px;
    }
    .main img {
        height: 300px;
        margin: 50px 0px 20px 0px;
    }
    .main .words {
        position: absolute;
        margin: 50px -300px;
        opacity: .01;
    }
    .main h2 {
        top: 30px;
        padding: 40px 0;
        font-size: 25px;
    }
    .btn {
        margin: 18px 0px;
    }
    .footer {
        position: relative;
        top: 1200px;
    }
}