html, body {
    margin: 0;
    padding: 0;
}

/* Font Settings */
h1 {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 100 !important;
    letter-spacing: 3px;
    font-size: 50px !important;
    text-align: center;
    margin: 30px 0 !important;
}

h2 {
    font-weight: 100 !important;
    text-transform: uppercase;
}

h3 {
    width: 100%;
    margin: 20px;
    text-align: left !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
}

h4 {
    margin: 20px;
    width: 100%;
    text-align: left;
    color: #333;
    font: 800 20px/1.5 'Raleway', sans-serif !important;
}

h5 {
    font: 300 30px/1.5 'Raleway', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font: 100 16px Helvetica, sans-serif;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(124,103,132,.9);
    z-index: 1000;  
}
.wrapper {
    position: relative;
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 5px;
}

.logo {
    position: relative;
    left: -100px;
    height: 40px;
}

nav {
    float: right;
}

ul {
    list-style: none;
}

nav li {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding: 6px 20px;
}

a {
    color: #fff !important;
    text-decoration: none;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none !important;
    color: #2c2c2c !important;
}
/*----------------------------------------------
CSS Settings For Jumbotron
------------------------------------------------*/
.jumbotron {
    height: 750px;
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("images/cover.jpg");
    background-size: cover;
    background-position: center;
}

.jumbotron .container {
    position: relative;
    float: right;
    height: 300px;
    width: 50%;
    margin: 230px 0 auto;
    color: #fff;
    font-family: 'Raleway', sans-serif !important;
}
.jumbotron img {
    height: 180px;   
}

.btn {
    padding: 10px 60px !important;
    color: #fff !important;
    font-size: 18px !important;
    border: 2px solid #fff !important;
    border-radius: 0px !important;
    margin: 30px 160px;
    background-color: none;
    color: #fff !important;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #7C6784;
    color: #fff !important;
    border: 2px solid #7C6784 !important;
}
/*----------------------------------------------
CSS Settings For Supporting Section
------------------------------------------------*/
.supporting {
    height: 700px;
    color: #616161 !important;
    text-align: center;
}

.supporting .container {
    position: relative;
    width: 90%;
}

.supporting img {
    height: 100px;
    margin: 40px 30px 10px 30px;
}

.supporting h1 {
    color: #333 !important;
    margin: 60px 10px 0!important;
    font-weight: 200 !important;
}

.supporting p {
    padding: 15px;
}
/*----------------------------------------------
CSS Settings For Main Section
------------------------------------------------*/
.main {
    height: 1500px;
    width: 100%;   
    background-image: linear-gradient(rgba(124,103,132,.8), rgba(124,103,132,.8)),url("images/main.jpg");
    background-position: center;
    background-size: cover;
    padding: 40px 0;
    text-align: center;
}

.main .container {
    position: relative;
    width: 95%;
}

.main h1 {
    margin: 50px 0 !important;
}

.main .row {
    position: relative;
    padding: 10px;
    margin: 30px 0;
}

.main img {
    height: 350px;
    padding: 0;
    cursor: pointer;
}

/*kitten begin */
.image-wrapper {
    position: relative;
    height: 350px;
    width: 350px;
    margin: 10;
    border-radius: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
}

.image-wrapper img {
    height: 350px;
    width: 350px;
}

.image-wrapper .image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
    background-color: rgba(39,24,38,.8);
    color: #fff;
    display: none;
}

.image-wrapper:hover .image-overlay {
    display: block;
}

.image-wrapper .image-overlay .content {
    position: absolute;
    top: 20%;
    left: 10%;
    font: 500 16px/1.2 'Helvetica', sans-serif;
    width: 80%;
}
/* kitten end*/

/*.hover {
    display: none;
    position: relative;
    width: 334px;
    height: 334px;
    background: #271826;
    position: absolute;
    top: 18px;
    left: 53px;
    border-radius: 50%;
    opacity: 0;
    padding: 20px;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.hover p {
    text-align: center !important;
    font-weight: 600;
    margin: 40px 20px;
    padding: 0 !important;
}

.hover:hover { opacity: .9 }

#stacey {
    height: 341px;
    width: 341px;
    margin: -6px -4px !important;
    
}

#steph {
    height: 330px;
    width: 330px;
    margin: 2px 2px;
}
*/
.main p {
    color: #fff;
    padding: 0 20px;
    text-align: left;
}
/*----------------------------------------------
CSS Settings For Footer Section
------------------------------------------------*/
.footer {
    height: 500px;
    width: 100%;
    margin: -20px 0px;
    background-color: #333;
    text-align: center;
}

.footer h2 {
    padding-top: 40px;
    color: #fff !important;
    text-transform: none;
    font-weight: 400 !important;
}

.footer p {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 60px 10px 0;
}

.form {
    width: 200px;
    background-color: red;
}
.copyright {
    margin: 0 50px;
    text-align: right;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 15px;
}


@media(max-width:767px) and (min-width: 320px) {
    html, body {
        margin: 0;
        padding: 0;
    }
    header {
        margin: 0;
        position: relative;
    }
    .wrapper {
        width: 100%
    }
    /*
    .burger-nav {
        margin: auto;
        background: url(images/burger.svg) no-repeat 98% top;
        cursor: pointer;
    }
    header nav {
        position: relative;
        width: 100%;
        right: -90px;
    }
    header nav ul {
        position: relative;
        margin: 10px 0;
        overflow: hidden;
    }
    header nav ul.open{
        height: auto;
    }
    header nav ul li {
        background: linear-gradient(rgba(124,103,132,.9), rgba(124,103,132,.9));
        border-bottom: 1px solid #cecece;
        text-align: right;
        font-size: 15px;
        display: block;
        padding: 10px;
        font-weight: 200;
    }*/
    
    .jumbotron {
        position: absolute;
        height: 300px;
        z-index: -1;
        width: 100%;
        top: 50px;
        background-image:
           linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)),url(images/cover.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .supporting {
        height: 250px;
        position: relative;
        top: 350px;
        z-index: -1;
    }
    .supporting img {
        margin: 40px 0 10px 0;
        height: 80px;
    }
    
    .supporting p {
        margin: 0 -40px;
    }
    .main {
        height: 3200px;
        position: relative;
        top: 1100px;
    }
    .main .container {
        position: relative;
        width: 90%;
        top: -600px;
    }
    
    .main .row img {
        height: 300px;
        margin: 10px -50px;
    }
    .words {
        height: 306px !important;
        left: 40px;
    }
    .main p {
        padding: 0;
        margin: 10px -20px;
        text-align: center;
        font-size: 14px;
    }
    .btn {
        margin: 18px 0px;
    }
    .footer {
        height: 400px;
        margin: 1100px 0;
    }
    .footer p {
        text-align: center;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

@media (max-width: 320px){}
this would be for your mobile
@media(max-width:767px) and (min-width: 320px){}